@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color:white;
    max-width: 1440px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    width:100%;
    height: 15vh;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 3px solid black;
    background-color: black;
}

.menu{
    height: 30px;
    position: relative;
    left: 280px;
    margin-bottom: 30px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu ul li{
    list-style-type: none;
    margin: 10px;

}

.menu ul li a{
    text-decoration: none;
    color: white;

}


#trend a, #featured a, #latest a{
    color: grey;
}

#trend img, #featured img, #latest img{
    fill: none;
}


#coding{
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #33a9dc;
    height: 30px;
    width:  150px;
    text-align: center;
}

#login{
    border: 1px solid grey;
    background-color: black;
}

#search{
    border: 1px solid grey;
    height: 30px;
    width:  50px;
    text-align: center;
    background-color: black;
}

.skriper img{
    position: relative;
    left: 350px;
    margin-top: 90px;
}


.ideas{
    text-align: center;
    margin-bottom: 40px;
}

.ideas h1{
    color: linear-gradient(292.46deg,#27ae60 17.79%,#2f80ed 35.92%,#9b51e0 54.06%,#eb5757 71.08%,#f2994a 87.36%);
    font-size: 70px;
    line-height: 90px;
}

.ideas h2{
    margin: 5px;
}

.code img{
    width: 70%;
    margin-left: 150px;
}

.code p{
    font-size: 30px;
    margin: 20px;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.writeup{
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.writeup h2, .writeup p{
    margin:10px;
}


.html-css-js img{
    width: 100%;
    margin-right:60px;
    margin-top: 70px;
}

.flex1{
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 30px;
}

.sharecode img{
    width: 100%;
}

.sharecode h2, .sharecode p{
    position:relative;
    left:60px;
    margin: 5px;
}

.flex2{
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 30px;
}

.snippets img{
    width: 80%;
}

.snippets h2, .snippets p{
    margin: 5px;
}

.flex3{
    display: flex;
    flex-direction: row;
}

.tutorial img{
    width: 70%;
}

.tutorial h2, .tutorial p{
    margin: 15px;
}

.flex4{
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 30px;
}

.markdown img{
    width: 80%;
}


.toppage{
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 9px;
    margin-bottom: 10px;
}
.toppage button {
    padding: 6px;
    font-size: 20px;
    width: 50px;
    background-color: #414141;
    color: white;
    border: none;
}
.toppage button svg {
    font-size: 20px;
}
.toppage .button:disabled{
    background-color:hsla(0, 0%, 100%, .04);
    width: 5px;
    padding: 7px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    margin: 10px;
    background-color: #252525;
    width: 300px;
    position: relative;
    height: 550px;
    /* padding-top: 15px; */
}
.box1{
    /* position: absolute; */
}


.imgbg {
    background-color: #414141;;
    padding: 20px;
    margin-bottom: 30px;
    height: 180px;
    overflow: hidden;
    background-size: contain;
}

.imgbg:hover {
    padding-top: 10px;
    transition: 0.3;
}

.box .image img {
    width: 250px;
}

.content {
    padding-left: 15px;
}

.code {
    background-color: aqua;
    display: inline;
    padding: 3px;
}

h3 {
    margin-top: 10px;
}

#author {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#author img {
    width: 30px;
    margin-right: 7px;
}

.foot {
    background-color:hsla(0, 0%, 100%, .1);
    padding: 15px;
    position: absolute;
}
.box1 .foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.box2 .foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.box3 .foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.box4 .foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.box5 .foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.box6 .foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.box7 .foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.box8 .foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footmini {
    display: flex;
    background-color: hsla(0, 0%, 100%, .05);
        ;
    padding: 10px;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.iconify {
    margin-right: 5px;
}

#line {}



footer{
    background-color:hsla(0,0%,100%,.05);
    display: flex;
    flex-direction: row;
    height: 70vh;
    margin: 0;
}


.flexi1{
    position:relative;
    left:60px;
    top: 40px;
}


.flexi2{
    position:relative;
    left:250px;
    top: 40px; 
}

.flexi2 ul li{
    list-style-type: none;
}

.flexi2 ul li, .flexi2 h4{
    margin: 10px;
}

.flexi3{
    position:relative;
    left:400px;
    top: 40px;
}

.flexi3 img{
    margin: 5px;
}